h1 {color:#000000; background:#99ccff; padding:20px}
h2 {color:#ffffff; background:#336699; padding:5px}
table {border: 5px solid #fff; background-color: #369;}
th {padding: 5px; background-color: #9cf; font-size:10pt; text-align:right}
td {padding: 5px; background-color: #fff; font-size:10pt; text-align:right}
